@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #314045;
  --secondary-color: #9cc8d6;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

/* Navbar design */

nav {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* About me design */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.contact-bar {
    text-align: center;
    top-margin: 150px;
    padding 1.0rem:
    bottom-margin: 20px;
}

/* Work Experience Design */

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    gap: 1.0rem;
    max-width: 400rem;
}

.work-div {
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 25rem;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.work-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    vertical-align: middle;
}

.work-text {
    display: flex;
    vertical-align:middle;
    align-items:center;
    max-width: 400rem;
    margin: auto;
}

/* Projects Design */

.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}


.project-pic {
    width: 20%;
    height: 20%;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    border-radius: 11px;
    padding: 20px;
    margin: 10px;
}

/* GitHub Logo Sizing */

.github-logo{
    width: 2.0%;
    height: 2.0%;
}

/* Footer Styling */

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

/* Construction Styling */
.construction {
    text-align: center;
}

/* */


.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 200rem;
  margin: auto;
}

.skill-div {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
}

.skills h1 {
  margin-bottom: var(--bottom-margin);
}

/* Image Sizing */

.broken-dna {
    width: 0.1%;
    height: 0.1%;
}

.male-pants {
    width: 0.1%;
    height: 0.1%;
}

.scatterplot-image {
    width: 0.1%;
    height: 0.1%;
}